@font-face {
  font-family: 'Open Sans Italic';
  src: url('../assets/fonts/open_sans/OpenSansItalic.eot');
  src: url('../assets/fonts/open_sans/OpenSansItalic.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/open_sans/OpenSansItalic.woff') format('woff'),
       url('../assets/fonts/open_sans/OpenSansItalic.ttf') format('truetype'),
       url('../assets/fonts/open_sans/OpenSansItalic.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}